# Data Science Tools and Ecosystem

This notebook has been created for IBM data science program.

**Objectives:**
* List popular languges for data science
* List of commonly used libraries in data science:
* A table of data science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

| Data Science Tools|
| :------------------:|
| Juputer notebook |
| Rstudio |
| Git |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This is a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Ali Kashani